<h1><%= @nonprofit.name %></h1>

<h3>Make a donation!</h3>

<%= form_for [@nonprofit, @donation] do |f| %>

<!--   Error Messages  -->
  <% if @donation.errors.any? %>
    <% @donation.errors.messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <div class="form-control">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="form-control">
    <%= f.label :currency %>
    <%= f.text_field :currency %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>

    <h3>Credit Card Information</h3>
    <%= f.fields_for @card do |ff| %>

      <div class="form-control">
        <%= ff.label :number %>
        <%= ff.text_field :number %>
      </div>
      <div class="form-control">
        <%= ff.label :exp_month %>
        <%= ff.text_field :exp_month %>
      </div>
      <div class="form-control">
        <%= ff.label :exp_year %>
        <%= ff.text_field :exp_year %>
      </div>
      <div class="form-control">
        <%= ff.label :cvc %>
        <%= ff.text_field :cvc %>
      </div>
       <%= ff.hidden_field :user_id, :value => donation_params[:id] %>
    <% end %>

  <%= f.submit "Donate" %>

<% end %>


